# Системные файлы
.DS_Store

# IDE
.idea/
.vscode/

# Docker
docker-compose.yml
.env
docker/

# WordPress временные и генерируемые файлы
wp/wp-config.php
wp/wp-content/uploads/
wp/wp-content/cache/
wp/wp-content/upgrade/
wp/wp-content/backups/

# Логи и временные файлы
*.log
*.swp
*.swo

# Архивы и дампы
*.sql
*.tar
*.tar.gz
*.zip